<div class="customized-filter">
  <button type="button" {{on 'click' (fn this.changeStatus "Recent" )}}>
   Recent
  </button>

   <button type="button" {{on 'click' (fn this.changeStatus "yes")}}>
    Solved
  </button>

   <button type="button" {{on 'click' (fn this.changeStatus "no")}}>
    Unsolved
  </button>

  {{!-- {{unanswered-topic}} --}}

  

  


 {{!-- {{#each this.statuses as |status|}} --}}
    {{!-- <button type="button" {{on 'click' (fn this.getDisnitation 1 )}}>
      {{status.value}}  
    </button> --}}
  {{!-- {{on 'click' this.changeStatus status.value}} --}}
 {{!-- {{/each}} --}}
</div>
  

