<div class="customized-filter">
  <button type="button" {{on 'click' (fn this.changeStatus "Recent" )}}>
   Recent
  </button>

   <button type="button" {{on 'click' (fn this.changeStatus "no")}}>
    Unsolved
  </button>

   <button type="button" {{on 'click' (fn this.changeStatus "yes")}}>
    Solved
  </button>

  {{unanswered-topic}}

  {{!-- <div class="test">
    {{create-topic-btn
    canCreateTopic=canCreateTopic
    action=(action "clickCreateTopicButton")
    disabled=createTopicButtonDisabled
    label=createTopicLabel
    btnClass=createTopicClass
    canCreateTopicOnTag=canCreateTopicOnTag
  }}

  </div> --}}

  

</div>
  

